{% extends "letter.html" %}
{% block table %}
<h1>Edit Letter Table(s)</h1>
<form action="{{ url_for('letterpost', letterid=letter.id) }}" method="post">
  <input type="hidden" name="create">
  <input type="number" name="paragraphno" placeholder="Paragraph No">
  <input type="number" name="option" placeholder="Option No">
  <textarea name="paragraphtext" placeholder="Enter paragraph text" rows="5" cols="50"></textarea>
  <button type="submit">add</button>
</form>
<ul>
  {% for content in contents %}
  <li>{{ content.id }}:{{ content.letter_id }}</li>
  <form action="{{ url_for('letterpost', letterid=letter.id) }}" method="post">
    <input value="{{ content.id }}" type="hidden" name="delete">
    <button type="submit">delete</button>
  </form>
  <form action="{{ url_for('letterpost', letterid=letter.id) }}" method="post">
    <input value="{{ content.id }}" type="hidden" name="update">
    <input value="{{ content.paragraph_no }}" type="number" name="newno">
    <input value="{{ content.option }}" type="number" name="newoption"> 
    <textarea name="newtext" rows="3" cols="100" onclick="auto_grow(this)">{{ content.paragraph_text }}</textarea>
    <button type="submit">update</button>
  </form>
  {% endfor %}
</ul>
<div>
  <h1>Variable Control(tempname)</h1>
</div>
{% endblock %}

